{{!-- The logic/js file for this page has not been created. 
I'm just trying to think ahead about what this page would look like --}}
 <link rel="stylesheet" href="./styles/member.css">
 <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Crimson+Text|Faster+One|Frijole|Pacifico|Pattaya&display=swap" rel="stylesheet">
<nav>
   <div class="navbar">
     {{!-- <a href=“#!” class=“brand-logo”><i class=“material-icons”>cloud</i>Logo</a> --}}
     <a class="text-light user" href="/home"><span class="navbar-text text-light home-text">Home</span></a>
     <a href="/logout" class="logout"><span class="navbar-text text-light logout-text">Log Out</span></a>
   </div>
</nav>
<div class="mymeals"><span id="mymeals"><h1>My Meals</h1></span></div>
{{!-- <h1>My Meals</h1> --}}


<table class="table">
    <thead> 
        <th>Meal ID</th>
        <th>Meal Name</th> 
        <th>Quantity</th> 
        <th>Date Made</th> 
        <th></th> 
        <th></th> 
    </thead> 
    <tbody> 
        {{#each formatted}} 
        <tr> 
            <td>{{this.id}}</td>
            <td>{{this.name}}</td> 
            <td>{{this.quantity}}</td> 
            <td>{{this.createdAt}}</a></td>
            <th><button class="btn btn-danger delete-meal" data-id={{this.id}}>Delete Meal</button></th>
            <td><button class="btn btn-primary meal" data-id={{this.id}}>Edit</button></td>  
        </tr class=> 
        <tr class='number' id='number-{{this.id}}'> 
            <td>{{this.id}}</td>
            <td><input type="text" id="name-{{id}}"></td> 
            <td><input type="text" id="quantity-{{id}}"></td> 
            <td>-</td> 
            <td><button class="btn btn-dark submit" data-id={{this.id}}>Submit Changes</button></td>  
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <script src="/js/members.js"></script>
